Dev/TestPythonScript1.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "71c74433-f356-3ac5-a7d5-7128c1b7bc86",
            "id" : "0bf031d0-7003-3e66-90f3-135c90197d3e",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "71c74433-f356-3ac5-a7d5-7128c1b7bc86",
          "identifier" : "ec805f75-f23b-3da9-922d-935c3d7e56f3",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "71c74433-f356-3ac5-a7d5-7128c1b7bc86",
            "id" : "7f9d0b0c-7717-32f3-abde-03eb1ec1d65a",
            "name" : "HandleHttpRequest",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "71c74433-f356-3ac5-a7d5-7128c1b7bc86",
            "id" : "dae093b2-6054-3ee8-b310-6198038539cb",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "71c74433-f356-3ac5-a7d5-7128c1b7bc86",
          "identifier" : "919d6352-3014-35a7-a3e9-dca93c82eaee",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "output stream", "original", "nonzero status" ],
          "source" : {
            "comments" : "",
            "groupId" : "71c74433-f356-3ac5-a7d5-7128c1b7bc86",
            "id" : "14e4fbff-2bda-3f8c-aed9-03188f015212",
            "name" : "ExecuteStreamCommand",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "71c74433-f356-3ac5-a7d5-7128c1b7bc86",
            "id" : "c37a909a-ded0-3cb0-921e-1dd585aac579",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "71c74433-f356-3ac5-a7d5-7128c1b7bc86",
          "identifier" : "3c8556c4-32f9-35c8-bf21-ee5f6ae821e1",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "71c74433-f356-3ac5-a7d5-7128c1b7bc86",
            "id" : "0bf031d0-7003-3e66-90f3-135c90197d3e",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "71c74433-f356-3ac5-a7d5-7128c1b7bc86",
            "id" : "14e4fbff-2bda-3f8c-aed9-03188f015212",
            "name" : "ExecuteStreamCommand",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "71c74433-f356-3ac5-a7d5-7128c1b7bc86",
          "identifier" : "23a73d50-1850-39ee-ac6e-89856ea41d1a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "test-endpoint" ],
          "source" : {
            "comments" : "",
            "groupId" : "71c74433-f356-3ac5-a7d5-7128c1b7bc86",
            "id" : "0bf031d0-7003-3e66-90f3-135c90197d3e",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bundle" : {
            "artifact" : "nifi-http-context-map-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "type" : "org.apache.nifi.http.HttpContextMap"
          } ],
          "groupIdentifier" : "71c74433-f356-3ac5-a7d5-7128c1b7bc86",
          "identifier" : "8b804b3c-61dc-3ac5-9d04-7ce38005ad54",
          "name" : "StandardHttpContextMap",
          "properties" : {
            "Request Expiration" : "1 min",
            "Maximum Outstanding Requests" : "5000"
          },
          "propertyDescriptors" : {
            "Request Expiration" : {
              "displayName" : "Request Expiration",
              "identifiesControllerService" : false,
              "name" : "Request Expiration",
              "sensitive" : false
            },
            "Maximum Outstanding Requests" : {
              "displayName" : "Maximum Outstanding Requests",
              "identifiesControllerService" : false,
              "name" : "Maximum Outstanding Requests",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.http.StandardHttpContextMap"
        } ],
        "funnels" : [ ],
        "identifier" : "71c74433-f356-3ac5-a7d5-7128c1b7bc86",
        "inputPorts" : [ ],
        "labels" : [ ],
        "name" : "Test Python script",
        "outputPorts" : [ ],
        "position" : {
          "x" : 688.0,
          "y" : 244.5
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "71c74433-f356-3ac5-a7d5-7128c1b7bc86",
          "identifier" : "7f9d0b0c-7717-32f3-abde-03eb1ec1d65a",
          "name" : "HandleHttpRequest",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 272.0,
            "y" : -352.0
          },
          "properties" : {
            "multipart-request-max-size" : "1 MB",
            "Allow POST" : "true",
            "Default URL Character Set" : "UTF-8",
            "Allow DELETE" : "true",
            "container-queue-size" : "50",
            "HTTP Context Map" : "8b804b3c-61dc-3ac5-9d04-7ce38005ad54",
            "multipart-read-buffer-size" : "512 KB",
            "Allow OPTIONS" : "false",
            "Allow GET" : "true",
            "Allow HEAD" : "false",
            "Listening Port" : "8081",
            "Client Authentication" : "No Authentication",
            "Allow PUT" : "true"
          },
          "propertyDescriptors" : {
            "multipart-request-max-size" : {
              "displayName" : "Multipart Request Max Size",
              "identifiesControllerService" : false,
              "name" : "multipart-request-max-size",
              "sensitive" : false
            },
            "Allow POST" : {
              "displayName" : "Allow POST",
              "identifiesControllerService" : false,
              "name" : "Allow POST",
              "sensitive" : false
            },
            "Hostname" : {
              "displayName" : "Hostname",
              "identifiesControllerService" : false,
              "name" : "Hostname",
              "sensitive" : false
            },
            "Default URL Character Set" : {
              "displayName" : "Default URL Character Set",
              "identifiesControllerService" : false,
              "name" : "Default URL Character Set",
              "sensitive" : false
            },
            "Allow DELETE" : {
              "displayName" : "Allow DELETE",
              "identifiesControllerService" : false,
              "name" : "Allow DELETE",
              "sensitive" : false
            },
            "Additional HTTP Methods" : {
              "displayName" : "Additional HTTP Methods",
              "identifiesControllerService" : false,
              "name" : "Additional HTTP Methods",
              "sensitive" : false
            },
            "container-queue-size" : {
              "displayName" : "Container Queue Size",
              "identifiesControllerService" : false,
              "name" : "container-queue-size",
              "sensitive" : false
            },
            "HTTP Context Map" : {
              "displayName" : "HTTP Context Map",
              "identifiesControllerService" : true,
              "name" : "HTTP Context Map",
              "sensitive" : false
            },
            "multipart-read-buffer-size" : {
              "displayName" : "Multipart Read Buffer Size",
              "identifiesControllerService" : false,
              "name" : "multipart-read-buffer-size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Allow OPTIONS" : {
              "displayName" : "Allow OPTIONS",
              "identifiesControllerService" : false,
              "name" : "Allow OPTIONS",
              "sensitive" : false
            },
            "Allowed Paths" : {
              "displayName" : "Allowed Paths",
              "identifiesControllerService" : false,
              "name" : "Allowed Paths",
              "sensitive" : false
            },
            "Allow GET" : {
              "displayName" : "Allow GET",
              "identifiesControllerService" : false,
              "name" : "Allow GET",
              "sensitive" : false
            },
            "Allow HEAD" : {
              "displayName" : "Allow HEAD",
              "identifiesControllerService" : false,
              "name" : "Allow HEAD",
              "sensitive" : false
            },
            "Listening Port" : {
              "displayName" : "Listening Port",
              "identifiesControllerService" : false,
              "name" : "Listening Port",
              "sensitive" : false
            },
            "Client Authentication" : {
              "displayName" : "Client Authentication",
              "identifiesControllerService" : false,
              "name" : "Client Authentication",
              "sensitive" : false
            },
            "Allow PUT" : {
              "displayName" : "Allow PUT",
              "identifiesControllerService" : false,
              "name" : "Allow PUT",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "10 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.HandleHttpRequest",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "71c74433-f356-3ac5-a7d5-7128c1b7bc86",
          "identifier" : "dae093b2-6054-3ee8-b310-6198038539cb",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 584.0,
            "y" : 392.0
          },
          "properties" : {
            "log-message" : "Test msg",
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "71c74433-f356-3ac5-a7d5-7128c1b7bc86",
          "identifier" : "0bf031d0-7003-3e66-90f3-135c90197d3e",
          "name" : "RouteOnAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 407.0,
            "y" : -91.0
          },
          "properties" : {
            "Routing Strategy" : "Route to Property name",
            "test-endpoint" : "${http.request.uri:equals('/test-endpoint')}"
          },
          "propertyDescriptors" : {
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "test-endpoint" : {
              "displayName" : "test-endpoint",
              "identifiesControllerService" : false,
              "name" : "test-endpoint",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "71c74433-f356-3ac5-a7d5-7128c1b7bc86",
          "identifier" : "14e4fbff-2bda-3f8c-aed9-03188f015212",
          "name" : "ExecuteStreamCommand",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1025.0,
            "y" : 90.0
          },
          "properties" : {
            "argumentsStrategy" : "Command Arguments Property",
            "Max Attribute Length" : "256",
            "Command Path" : "test.sh",
            "Working Directory" : "dc2_in/scripts",
            "Argument Delimiter" : ";",
            "Ignore STDIN" : "true"
          },
          "propertyDescriptors" : {
            "argumentsStrategy" : {
              "displayName" : "Command Arguments Strategy",
              "identifiesControllerService" : false,
              "name" : "argumentsStrategy",
              "sensitive" : false
            },
            "Max Attribute Length" : {
              "displayName" : "Max Attribute Length",
              "identifiesControllerService" : false,
              "name" : "Max Attribute Length",
              "sensitive" : false
            },
            "Command Path" : {
              "displayName" : "Command Path",
              "identifiesControllerService" : false,
              "name" : "Command Path",
              "sensitive" : false
            },
            "Working Directory" : {
              "displayName" : "Working Directory",
              "identifiesControllerService" : false,
              "name" : "Working Directory",
              "sensitive" : false
            },
            "Output Destination Attribute" : {
              "displayName" : "Output Destination Attribute",
              "identifiesControllerService" : false,
              "name" : "Output Destination Attribute",
              "sensitive" : false
            },
            "Argument Delimiter" : {
              "displayName" : "Argument Delimiter",
              "identifiesControllerService" : false,
              "name" : "Argument Delimiter",
              "sensitive" : false
            },
            "Ignore STDIN" : {
              "displayName" : "Ignore STDIN",
              "identifiesControllerService" : false,
              "name" : "Ignore STDIN",
              "sensitive" : false
            },
            "Command Arguments" : {
              "displayName" : "Command Arguments",
              "identifiesControllerService" : false,
              "name" : "Command Arguments",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "71c74433-f356-3ac5-a7d5-7128c1b7bc86",
          "identifier" : "c37a909a-ded0-3cb0-921e-1dd585aac579",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 327.1582210880841,
            "y" : 131.94761576260845
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}