Dev/TestPythonScript.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "71c74433-f356-3ac5-a7d5-7128c1b7bc86",
            "id" : "14e4fbff-2bda-3f8c-aed9-03188f015212",
            "name" : "ExecuteStreamCommand",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "71c74433-f356-3ac5-a7d5-7128c1b7bc86",
          "identifier" : "23a73d50-1850-39ee-ac6e-89856ea41d1a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "test-endpoint" ],
          "source" : {
            "comments" : "",
            "groupId" : "71c74433-f356-3ac5-a7d5-7128c1b7bc86",
            "id" : "0bf031d0-7003-3e66-90f3-135c90197d3e",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "funnels" : [ ],
        "identifier" : "71c74433-f356-3ac5-a7d5-7128c1b7bc86",
        "inputPorts" : [ ],
        "labels" : [ ],
        "name" : "Test Python script",
        "outputPorts" : [ ],
        "position" : {
          "x" : 688.0,
          "y" : 244.5
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "71c74433-f356-3ac5-a7d5-7128c1b7bc86",
          "identifier" : "8ce5cad8-d03a-3740-b479-8e6cfa5d2961",
          "name" : "ExecuteProcess",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 392.0,
            "y" : 240.0
          },
          "properties" : {
            "Command" : "pipenv run python test.py",
            "Redirect Error Stream" : "false",
            "Working Directory" : "/dc2_in/scripts",
            "Argument Delimiter" : " "
          },
          "propertyDescriptors" : {
            "Command" : {
              "displayName" : "Command",
              "identifiesControllerService" : false,
              "name" : "Command",
              "sensitive" : false
            },
            "Redirect Error Stream" : {
              "displayName" : "Redirect Error Stream",
              "identifiesControllerService" : false,
              "name" : "Redirect Error Stream",
              "sensitive" : false
            },
            "Working Directory" : {
              "displayName" : "Working Directory",
              "identifiesControllerService" : false,
              "name" : "Working Directory",
              "sensitive" : false
            },
            "Argument Delimiter" : {
              "displayName" : "Argument Delimiter",
              "identifiesControllerService" : false,
              "name" : "Argument Delimiter",
              "sensitive" : false
            },
            "Batch Duration" : {
              "displayName" : "Batch Duration",
              "identifiesControllerService" : false,
              "name" : "Batch Duration",
              "sensitive" : false
            },
            "Command Arguments" : {
              "displayName" : "Command Arguments",
              "identifiesControllerService" : false,
              "name" : "Command Arguments",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteProcess",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "71c74433-f356-3ac5-a7d5-7128c1b7bc86",
          "identifier" : "0bf031d0-7003-3e66-90f3-135c90197d3e",
          "name" : "RouteOnAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 407.0,
            "y" : -91.0
          },
          "properties" : {
            "Routing Strategy" : "Route to Property name",
            "test-endpoint" : "${http.request.uri:equals('/test-endpoint')}"
          },
          "propertyDescriptors" : {
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "test-endpoint" : {
              "displayName" : "test-endpoint",
              "identifiesControllerService" : false,
              "name" : "test-endpoint",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "71c74433-f356-3ac5-a7d5-7128c1b7bc86",
          "identifier" : "14e4fbff-2bda-3f8c-aed9-03188f015212",
          "name" : "ExecuteStreamCommand",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1025.0,
            "y" : 90.0
          },
          "properties" : {
            "argumentsStrategy" : "Command Arguments Property",
            "Max Attribute Length" : "256",
            "Argument Delimiter" : ";",
            "Ignore STDIN" : "false"
          },
          "propertyDescriptors" : {
            "argumentsStrategy" : {
              "displayName" : "Command Arguments Strategy",
              "identifiesControllerService" : false,
              "name" : "argumentsStrategy",
              "sensitive" : false
            },
            "Max Attribute Length" : {
              "displayName" : "Max Attribute Length",
              "identifiesControllerService" : false,
              "name" : "Max Attribute Length",
              "sensitive" : false
            },
            "Command Path" : {
              "displayName" : "Command Path",
              "identifiesControllerService" : false,
              "name" : "Command Path",
              "sensitive" : false
            },
            "Working Directory" : {
              "displayName" : "Working Directory",
              "identifiesControllerService" : false,
              "name" : "Working Directory",
              "sensitive" : false
            },
            "Output Destination Attribute" : {
              "displayName" : "Output Destination Attribute",
              "identifiesControllerService" : false,
              "name" : "Output Destination Attribute",
              "sensitive" : false
            },
            "Argument Delimiter" : {
              "displayName" : "Argument Delimiter",
              "identifiesControllerService" : false,
              "name" : "Argument Delimiter",
              "sensitive" : false
            },
            "Ignore STDIN" : {
              "displayName" : "Ignore STDIN",
              "identifiesControllerService" : false,
              "name" : "Ignore STDIN",
              "sensitive" : false
            },
            "Command Arguments" : {
              "displayName" : "Command Arguments",
              "identifiesControllerService" : false,
              "name" : "Command Arguments",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}