Dev/TestPythonScript.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "1ca829ee-73da-3302-b515-0862b7a6851b",
            "id" : "b3886244-b549-374b-a4b9-33cef6a40e11",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "1ca829ee-73da-3302-b515-0862b7a6851b",
          "identifier" : "b00fe075-0b21-3b1d-ac0b-fdf95799814e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "output stream", "original", "nonzero status" ],
          "source" : {
            "comments" : "",
            "groupId" : "1ca829ee-73da-3302-b515-0862b7a6851b",
            "id" : "352a5598-1e69-37cb-aeb4-c1deb023ddf8",
            "name" : "ExecuteStreamCommand",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "1ca829ee-73da-3302-b515-0862b7a6851b",
            "id" : "352a5598-1e69-37cb-aeb4-c1deb023ddf8",
            "name" : "ExecuteStreamCommand",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "1ca829ee-73da-3302-b515-0862b7a6851b",
          "identifier" : "1bc60b46-d55f-3e07-9ba3-5d2aa8c0f192",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "test-endpoint" ],
          "source" : {
            "comments" : "",
            "groupId" : "1ca829ee-73da-3302-b515-0862b7a6851b",
            "id" : "77da8b5a-f7d8-356d-8568-443f4012dcd5",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "1ca829ee-73da-3302-b515-0862b7a6851b",
            "id" : "77da8b5a-f7d8-356d-8568-443f4012dcd5",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "1ca829ee-73da-3302-b515-0862b7a6851b",
          "identifier" : "75c76fab-4994-3b12-83f0-38b5504142de",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "1ca829ee-73da-3302-b515-0862b7a6851b",
            "id" : "a2857b78-aad2-3d16-bf28-ffdba779c83c",
            "name" : "HandleHttpRequest",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "1ca829ee-73da-3302-b515-0862b7a6851b",
            "id" : "9a15261f-d9ab-3086-a602-b3b166999b48",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "1ca829ee-73da-3302-b515-0862b7a6851b",
          "identifier" : "1cbca39d-be8b-3db2-a08c-333f0577580f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "1ca829ee-73da-3302-b515-0862b7a6851b",
            "id" : "77da8b5a-f7d8-356d-8568-443f4012dcd5",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bundle" : {
            "artifact" : "nifi-http-context-map-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "type" : "org.apache.nifi.http.HttpContextMap"
          } ],
          "groupIdentifier" : "1ca829ee-73da-3302-b515-0862b7a6851b",
          "identifier" : "e781c1b8-68f3-3d52-8afb-b7f63003ce04",
          "name" : "StandardHttpContextMap",
          "properties" : {
            "Request Expiration" : "1 min",
            "Maximum Outstanding Requests" : "5000"
          },
          "propertyDescriptors" : {
            "Request Expiration" : {
              "displayName" : "Request Expiration",
              "identifiesControllerService" : false,
              "name" : "Request Expiration",
              "sensitive" : false
            },
            "Maximum Outstanding Requests" : {
              "displayName" : "Maximum Outstanding Requests",
              "identifiesControllerService" : false,
              "name" : "Maximum Outstanding Requests",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.http.StandardHttpContextMap"
        } ],
        "funnels" : [ ],
        "identifier" : "1ca829ee-73da-3302-b515-0862b7a6851b",
        "inputPorts" : [ ],
        "labels" : [ ],
        "name" : "TestPythonScript",
        "outputPorts" : [ ],
        "position" : {
          "x" : 505.0,
          "y" : 132.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "1ca829ee-73da-3302-b515-0862b7a6851b",
          "identifier" : "a2857b78-aad2-3d16-bf28-ffdba779c83c",
          "name" : "HandleHttpRequest",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 504.0,
            "y" : 32.0
          },
          "properties" : {
            "multipart-request-max-size" : "1 MB",
            "Allow POST" : "true",
            "Default URL Character Set" : "UTF-8",
            "Allow DELETE" : "true",
            "container-queue-size" : "50",
            "HTTP Context Map" : "e781c1b8-68f3-3d52-8afb-b7f63003ce04",
            "multipart-read-buffer-size" : "512 KB",
            "Allow OPTIONS" : "false",
            "Allow GET" : "true",
            "Allow HEAD" : "false",
            "Listening Port" : "8081",
            "Client Authentication" : "No Authentication",
            "Allow PUT" : "true"
          },
          "propertyDescriptors" : {
            "multipart-request-max-size" : {
              "displayName" : "Multipart Request Max Size",
              "identifiesControllerService" : false,
              "name" : "multipart-request-max-size",
              "sensitive" : false
            },
            "Allow POST" : {
              "displayName" : "Allow POST",
              "identifiesControllerService" : false,
              "name" : "Allow POST",
              "sensitive" : false
            },
            "Hostname" : {
              "displayName" : "Hostname",
              "identifiesControllerService" : false,
              "name" : "Hostname",
              "sensitive" : false
            },
            "Default URL Character Set" : {
              "displayName" : "Default URL Character Set",
              "identifiesControllerService" : false,
              "name" : "Default URL Character Set",
              "sensitive" : false
            },
            "Allow DELETE" : {
              "displayName" : "Allow DELETE",
              "identifiesControllerService" : false,
              "name" : "Allow DELETE",
              "sensitive" : false
            },
            "Additional HTTP Methods" : {
              "displayName" : "Additional HTTP Methods",
              "identifiesControllerService" : false,
              "name" : "Additional HTTP Methods",
              "sensitive" : false
            },
            "container-queue-size" : {
              "displayName" : "Container Queue Size",
              "identifiesControllerService" : false,
              "name" : "container-queue-size",
              "sensitive" : false
            },
            "HTTP Context Map" : {
              "displayName" : "HTTP Context Map",
              "identifiesControllerService" : true,
              "name" : "HTTP Context Map",
              "sensitive" : false
            },
            "multipart-read-buffer-size" : {
              "displayName" : "Multipart Read Buffer Size",
              "identifiesControllerService" : false,
              "name" : "multipart-read-buffer-size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Allow OPTIONS" : {
              "displayName" : "Allow OPTIONS",
              "identifiesControllerService" : false,
              "name" : "Allow OPTIONS",
              "sensitive" : false
            },
            "Allowed Paths" : {
              "displayName" : "Allowed Paths",
              "identifiesControllerService" : false,
              "name" : "Allowed Paths",
              "sensitive" : false
            },
            "Allow GET" : {
              "displayName" : "Allow GET",
              "identifiesControllerService" : false,
              "name" : "Allow GET",
              "sensitive" : false
            },
            "Allow HEAD" : {
              "displayName" : "Allow HEAD",
              "identifiesControllerService" : false,
              "name" : "Allow HEAD",
              "sensitive" : false
            },
            "Listening Port" : {
              "displayName" : "Listening Port",
              "identifiesControllerService" : false,
              "name" : "Listening Port",
              "sensitive" : false
            },
            "Client Authentication" : {
              "displayName" : "Client Authentication",
              "identifiesControllerService" : false,
              "name" : "Client Authentication",
              "sensitive" : false
            },
            "Allow PUT" : {
              "displayName" : "Allow PUT",
              "identifiesControllerService" : false,
              "name" : "Allow PUT",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "5 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.HandleHttpRequest",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "1ca829ee-73da-3302-b515-0862b7a6851b",
          "identifier" : "9a15261f-d9ab-3086-a602-b3b166999b48",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 48.0,
            "y" : 520.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "1ca829ee-73da-3302-b515-0862b7a6851b",
          "identifier" : "352a5598-1e69-37cb-aeb4-c1deb023ddf8",
          "name" : "ExecuteStreamCommand",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 616.0,
            "y" : 560.0
          },
          "properties" : {
            "argumentsStrategy" : "Command Arguments Property",
            "Max Attribute Length" : "256",
            "Command Path" : "/opt/nifi/nifi-current/dc2_in/scripts/test.sh",
            "Working Directory" : "/opt/nifi/nifi-current/dc2_in/scripts",
            "Argument Delimiter" : ";",
            "Ignore STDIN" : "false"
          },
          "propertyDescriptors" : {
            "argumentsStrategy" : {
              "displayName" : "Command Arguments Strategy",
              "identifiesControllerService" : false,
              "name" : "argumentsStrategy",
              "sensitive" : false
            },
            "Max Attribute Length" : {
              "displayName" : "Max Attribute Length",
              "identifiesControllerService" : false,
              "name" : "Max Attribute Length",
              "sensitive" : false
            },
            "Command Path" : {
              "displayName" : "Command Path",
              "identifiesControllerService" : false,
              "name" : "Command Path",
              "sensitive" : false
            },
            "Working Directory" : {
              "displayName" : "Working Directory",
              "identifiesControllerService" : false,
              "name" : "Working Directory",
              "sensitive" : false
            },
            "Output Destination Attribute" : {
              "displayName" : "Output Destination Attribute",
              "identifiesControllerService" : false,
              "name" : "Output Destination Attribute",
              "sensitive" : false
            },
            "Argument Delimiter" : {
              "displayName" : "Argument Delimiter",
              "identifiesControllerService" : false,
              "name" : "Argument Delimiter",
              "sensitive" : false
            },
            "Ignore STDIN" : {
              "displayName" : "Ignore STDIN",
              "identifiesControllerService" : false,
              "name" : "Ignore STDIN",
              "sensitive" : false
            },
            "Command Arguments" : {
              "displayName" : "Command Arguments",
              "identifiesControllerService" : false,
              "name" : "Command Arguments",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "1ca829ee-73da-3302-b515-0862b7a6851b",
          "identifier" : "b3886244-b549-374b-a4b9-33cef6a40e11",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 616.0,
            "y" : 816.0
          },
          "properties" : {
            "log-message" : "Test",
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "1ca829ee-73da-3302-b515-0862b7a6851b",
          "identifier" : "77da8b5a-f7d8-356d-8568-443f4012dcd5",
          "name" : "RouteOnAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 592.0,
            "y" : 352.0
          },
          "properties" : {
            "Routing Strategy" : "Route to Property name",
            "test-endpoint" : "${http.request.uri:equals('/test-endpoint')}"
          },
          "propertyDescriptors" : {
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "test-endpoint" : {
              "displayName" : "test-endpoint",
              "identifiesControllerService" : false,
              "name" : "test-endpoint",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}